* {
    color: whitesmoke;
}

body {
    font-family: "Inter", serif;
    background-color: #252525;
}

.banner {
    height: 35vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

nav {
    padding-top: 32.89vh;
}

header,
nav,
section,
footer {
    animation: opac 0.8s;
}

section {
    text-align: center;
    margin-top: -2.11vh;
}

.color-img {
    display: float;
    float: left;
    width: 25%;
    height: 25%;
    border-radius: 5%;
    border: #ffff 5px solid;
    margin-right: 10px;
}

footer {
    text-align: center;
    position: fixed;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%);
}

.icon {
    width: 30px;
    height: 30px;
}

blockquote {
    text-align: justify;
    padding-left: 25vw;
    padding-right: 25vw;
}

table {
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

h1,
button {
    font-weight: bold;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

ul li {
    list-style: none;
}

ul li button {
    font-family: "Chivo Mono", monospace;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    background-color: transparent;
    padding: 10px;
    transition: 0.5s ease;
}

ul:hover li button {
    color: #30edf4;
}

ul:hover li button:not(:hover) {
    color: #fff;
    opacity: 0.3;
    filter: blur(1px);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.btn {
    border: 0;
    position: relative;
}

.btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border-top: 0px solid #30edf4;
    border-left: 0px solid #30edf4;
    overflow: hidden;
    transition: 0.3s ease;
}

.btn::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 0;
    border-bottom: 0px solid #30edf4;
    border-right: 0px solid #30edf4;
    transition: 0.3s ease;
}

.btn:hover::before {
    border-top: 1px solid #30edf4;
    border-left: 1px solid #30edf4;
    width: calc(100%);
    height: calc(100%);
}

.btn:hover::after {
    border-bottom: 1px solid #30edf4;
    border-right: 1px solid #30edf4;
    width: calc(100%);
    height: calc(100%);
}

@media only screen and (max-width: 600px) and (min-width: 350px) {
    .banner {
        height: 25vh;
    }
    nav {
        padding-top: 23.5vh;
    }

    section {
        margin-top: 0;
    }

    footer {
        bottom: 1vh;
    }

    ul {
        display: grid;
        width: 100%;
        grid-template-columns: repeat(6, auto);
        text-align: center;
        font-size: 0.7rem;
        padding-left: 1%;
        padding-right: 1%;
    }

    blockquote {
        font-size: 0.8rem;
        text-align: justify;
        padding-left: 0;
        padding-right: 0;
    }

    table {
        font-size: 0.8rem;
        margin-left: auto;
        margin-right: auto;
        text-align: left;
    }

    h1 {
        font-size: 1.5rem;
    }

    h2 {
        font-size: 1.2rem;
    }

    h6 {
        font-size: 1rem;
    }

    .icon {
        width: 12%;
        height: 12%;
        margin-top: -20px;
    }
}
